* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    background-color: lightgrey;
}

p {
    margin: 0.5em 0 0.5em 0;
}

header {
    display: block;
    padding: 10px;
    position: fixed;
    background-color: rgb(129, 201, 245);
    width: 100%;
}

nav a:visited,
nav a:link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

nav>ul {
    padding: 0;
    display: inline;
}

nav>ul>li {
    display: inline-block;
    list-style: none;
    margin: 0 6.6px 0 6.6px;
}

main {
    background-image: linear-gradient( to bottom, rgb(248, 159, 202), rgb(88, 209, 249));
    display: block;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 85%;
}

footer {
    background-color: rgb(255, 192, 209);
    padding: 15px;
}

aside,
article {
    padding: 2em;
}

aside {
    text-align: center;
}

aside>img {
    border-radius: 50%;
    border: none;
    opacity: 70%;
}

article {
    width: 75%;
}

article>img {
    border-radius: 3%;
}

.columns {
    display: flex;
}

@media only screen and (min-width: 768px) {
    main {
        display: flex;
    }
    aside {
        margin-left: 2%;
    }
    .columns-desktop {
        display: flex;
    }
}


/* albums */

.albums {
    background-color: rgb(255, 255, 255, 0.3);
    width: 300px !important;
    height: 420px;
    padding: 10px;
    margin: 10px;
    border-radius: 9px;
    float: left;
}

.albums img {
    width: 100%;
}

.albums .columns {
    width: 100%;
}

.albums .title {
    font-weight: bold;
    font-size: large;
}

.albums .price {
    text-align: right;
}

.albums .columns div {
    width: 50%;
}

#button {
    background-color: rgb(77, 186, 219);
    border: pink;
    border-radius: 4px;
    padding: 10px;
    color: white;
    font-weight: bold;
}

#button:hover {
    background-color: rgb(19, 159, 201);
    cursor: pointer;
    color: white;
}

#orderForm button {
    background-color: rgb(61, 195, 248);
    border-radius: 6px;
    padding: 8px;
    width: 70px;
}

#orderForm button:hover {
    background-color: rgb(15, 174, 222);
    cursor: pointer;
    color: white;
}
